<div class="footer">
    <div class="container">
    <div class="footertitle">
        Disclaimer
    </div>
    <div class="footertext">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolore doloribus earum enim error esse est illum
        ipsa, libero minus necessitatibus nobis perferendis, provident quia, quod reiciendis sed voluptas voluptatum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, atque culpa delectus dicta est
        eveniet illo ipsum itaque minus natus nostrum odit provident quae, quia, quibusdam sed sequi voluptatem.
    </div>
    </div>
</div>