<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../src/jquery-3.0.0.js"></script>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="logo">
            <div class="mainlogo">LOREMIPSUM</div>
            <div class="sublogo">loregi lo loremips</div>
        </div>
        {% include "menu.html" %}
    </div>

    <div class="row">
        <div class="imagecontainer">
            <div class="imagetext">" Sed ut perspici unde omnis iste natus error sit voluptatem. "</div>
        </div>


        <div class="submenu">

            <div class="firstitem">
                <div class="submenutitle">LOR Emip</div>
                <div class="subtitle">LOREMIPSU MLOREMIPSUML OREMIPSUML</div>
                <div class="subtext">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Beatae consequuntur esse id laudantium nemo.
                </div>
                <div class="readmore">Lees meer ></div>
            </div>

            <div class="seconditem">
                <div class="submenutitle">Loremips</div>
                <div class="subtitle">LO. REMIPSUMLO</div>
                <div class="subtext">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur esse id
                    laudantium nemo.
                </div>
                <div class="readmore">Lees meer ></div>
            </div>

            <div class="thirditem">
                <div class="submenutitle">Lorem Ipsum</div>
                <div class="subtitle">LOREMIPSUMLOR</div>
                <div class="subtext">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur esse id
                    laudantium nemo.
                </div>
                <div class="readmore">Lees meer ></div>
            </div>
        </div>

        <img class="mainimage" src="../src/images/woman.jpg">

        <div class="waarom">LOREMI LOREMI LOR LOREMIPSUM</div>
    </div>

    <div class="row">

        <div class="items">
            <ul class="list1">
                <li class="item1">LOREM IPSUM LOREM IPSUM</li>
                <li class="item1">LOREM IPSUM LOREM IPSUM</li>
                <li class="item1">LOREM IPSUM LOREM IPSUM</li>
                <li class="item1">
                    lo remipsu loremip lo lor
                    lo re mipsumlo remipsumlo
                </li>
            </ul>


            <ul class="list1">
                <li class="item2">LOREM IPSUM LOREM IPSUM</li>
                <li class="item2">LOREM IPSUM LOREM IPSUM</li>
                <li class="item2">loremipsuml loremipsumloremips</li>

                <li class="item2">LOREM IPSUM LOREM IPSUM</li>
            </ul>


            <ul class="list3">
                <li class="item3">LOREM IPSUM LOREM IPSUM</li>
                <li class="item3">LOREM IPSUM LOREM IPSUM</li>
                <li class="item3">loremi lore loremipsum
                    lo lorem loremipsum
                </li>
            </ul>

        </div>

    </div>

    <div class="row">
        <div class="woord">LOREMIPSUML ORE MIP SUMLO</div>
    </div>

    <div class="row">
        <div class="wrapperpanel">
            <img src="../src/images/woman1.jpg" class="woman1">

            <div class="panel">
                <div class="paneltitle">
                    EM QUAM RE NONSEQU
                </div>
                <div class="paneltext">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
                    <br>Ad esse fugit laudantium mollitia neque nulla
                    quaerat qui rem.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="wrapperpanel">
            <div class="panelleft">
                <div class="paneltitleleft">
                    LOREM IPSUM LOREM IPSUM
                </div>

                <div class="paneltextleft">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
                    <br>Ad esse fugit laudantium mollitia neque nulla
                    quaerat qui rem.
                </div>
            </div>
        </div>
        <img src="../src/images/man1.jpg" class="woman1">
    </div>

    <div class="row">
        <div class="wrapperpanel">
            <img src="../src/images/woman2.jpg" class="woman1">

            <div class="panel">
                <div class="paneltitle">
                    LOREM IPSUM LOREM IPSUM
                </div>
                <div class="paneltext">
                    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
                    <br>Ad esse fugit laudantium mollitia neque nulla
                    quaerat qui rem.
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="opdrachten">Loremipsum loremipsum</div>

        <div class="dropdown">
            <div class="dropdown-title">LOREMIPSUM LOREM IPSUM</div>

            <div class="dropdown-content">
                <div class="dropdown-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias
                atque
                consequuntur facilis fuga fugit inventore ipsum iusto magnam modi molestias necessitatibus nisi odit,
                quisquam rem rerum sed tempora temporibus?
                </div>
                {#<img src="../src/images/52.jpg" class="dropdown-image">#}
            </div>


        </div>
        <div class="dropdown-title">LOREMIPSUM LOREMIPSUM</div>
        <div class="dropdown-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias
            atque
            consequuntur facilis fuga fugit inventore ipsum iusto magnam modi molestias necessitatibus nisi odit,
            quisquam rem rerum sed tempora temporibus?
        </div>

        <div class="dropdown-title">LOREMIPSUM LOREMIPSUM</div>
        <div class="dropdown-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias
            atque
            consequuntur facilis fuga fugit inventore ipsum iusto magnam modi molestias necessitatibus nisi odit,
            quisquam rem rerum sed tempora temporibus? consequuntur facilis fuga fugit inventore ipsum iusto magnam modi
            molestias necessitatibus nisi odit,
            quisquam rem rerum sed tempora temporibus?

        </div>
    </div>
    <script src="../src/javascript.js"></script>

    <div class="row">
        <div class="company">LOREMIPSUM</div>
        <iframe width="100%" height="720" src="https://www.youtube.com/embed/IbEp3GRpZQ8" frameborder="0"
                allowfullscreen></iframe>
    </div>

</div>
<div class="row">
    <br>
</div>

<div class="row">
    {% include "footer.html" %}
</div>
</body>
</html>