/* Setting up our grid */
body {
  margin: 0;
  background-color: #ffffff; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  max-width: 1280px;
  margin: auto;
  padding: 20px; }

.seven:first-child, .eight:first-child, .nine:first-child, .ten:first-child, .eleven:first-child, .five:first-child, .four:first-child, .three:first-child, .two:first-child, .one:first-child, .six:first-child {
  margin-left: 0;
  /* This line of code makes the left-most column align to the left of the screen */ }

.eleven {
  width: 91.5%;
  float: left;
  margin-left: 2%; }

.ten {
  width: 83%;
  float: left;
  margin-left: 2%; }

.nine {
  width: 74.5%;
  float: left;
  margin-left: 2%; }

.eight {
  width: 66%;
  float: left;
  margin-left: 2%; }

.seven {
  width: 57.5%;
  float: left;
  margin-left: 2%; }

.six {
  width: 49%;
  /* This div spans six columns (the entire row)*/
  float: left;
  margin-left: 2%; }

.five {
  width: 40.5%;
  /* This div spans five columns */
  margin-left: 2%;
  float: left; }

.four {
  width: 32%;
  float: left; }

.three {
  width: 23.5%;
  float: left;
  margin-left: 2%; }

.two {
  width: 15%;
  float: left;
  margin-left: 2%; }

.one {
  width: 6.5%;
  float: left;
  margin-left: 2%; }

.row {
  width: 100%;
  clear: both;
  /* Clear creates new styles for the next row */
  padding: 0;
  margin: 0; }

.menucontainer {
  float: right;
  margin-bottom: 35px;
  list-style-type: none;
  overflow: hidden;
  font-family: delicious;
  font-size: 18px; }
  .menucontainer li {
    display: inline-block; }
  .menucontainer a {
    color: #4c4c4c;
    text-decoration: none;
    padding: 12px; }
  .menucontainer :last-child {
    padding-right: 0px; }

.logo {
  display: inline-block; }
  .logo .mainlogo {
    float: left;
    font-family: archive;
    color: #e4003a;
    font-size: 27px; }
  .logo .sublogo {
    font-family: delicious;
    color: #191919;
    display: block; }

.imagecontainer {
  position: relative; }
  .imagecontainer .imagetext {
    position: absolute;
    float: left;
    font-family: archive;
    font-size: 42px;
    width: 445px;
    height: 220px;
    padding-top: 54px;
    padding-left: 44px;
    color: #404040; }

.submenu {
  position: absolute;
  float: left;
  width: 900px;
  height: auto;
  background-color: #e4003a;
  margin-top: 440px;
  border: solid white 16px;
  border-left: none; }
  .submenu .firstitem, .submenu .seconditem, .submenu .thirditem {
    float: left;
    max-width: 245px;
    padding: 16px; }
  .submenu .submenutext {
    font-size: 16px; }
  .submenu .submenutitle, .submenu .subtext, .submenu .readmore {
    font-family: delicious; }
  .submenu .submenutitle, .submenu .readmore {
    color: #f9b818; }
  .submenu .submenutitle {
    font-weight: bold;
    padding-bottom: 20px; }
  .submenu .subtitle, .submenu .subtext {
    color: #ffffff; }
  .submenu .subtitle {
    font-family: archive;
    font-size: 18px;
    padding-bottom: 20px; }

.mainimage {
  width: 100%;
  height: 651px; }

.waarom, .woord, .opdrachten, .company {
  font-family: archive;
  color: #b2b2b1;
  font-size: 32px; }

.waarom {
  position: relative;
  border-bottom: 2px solid #b2b2b1;
  padding-top: 90px;
  padding-bottom: 20px; }

.woord {
  border-top: 2px solid #b2b2b1;
  padding-top: 50px;
  padding-bottom: 20px; }

.opdrachten {
  padding-top: 20px;
  padding-bottom: 50px; }

.company {
  padding-top: 50px;
  padding-bottom: 10px;
  border-top: 2px solid #b2b2b1; }

.list1, .list3 {
  list-style-type: none;
  text-decoration: none;
  overflow: hidden;
  font-family: archive;
  color: #e4003a;
  font-size: 20px; }
  .list1 :last-child, .list3 :last-child {
    border-bottom: none; }

.list1, .list2, .list3 {
  float: left;
  margin-left: -40px;
  padding-right: 40px;
  width: 400px; }

.item, .item1, .item2, .item3 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b2b2b1; }

.items {
  width: 100%; }

.wrapperpanel {
  position: relative; }

.woman1 {
  width: 66%;
  height: 500px;
  float: left; }

.panel {
  width: 34%;
  height: 500px;
  background-color: #f2f2f2;
  float: left; }
  .panel .paneltitle {
    padding-left: 60px;
    padding-top: 60px;
    font-family: archive;
    font-size: 44px;
    width: 300px; }
  .panel .paneltext {
    padding-left: 60px;
    padding-top: 60px;
    font-family: delicious;
    font-size: 20px;
    width: 250px; }

.panelleft {
  width: 34%;
  height: 500px;
  background-color: #e4003a;
  float: left; }
  .panelleft .paneltitleleft {
    padding-left: 10%;
    padding-top: 10%;
    color: #ffffff;
    font-family: archive;
    font-size: 44px;
    width: 300px; }
  .panelleft .paneltextleft {
    padding-left: 10%;
    padding-top: 10%;
    color: #ffffff;
    font-family: delicious;
    font-size: 20px;
    width: 250px; }

.dropdown-title {
  font-family: archive;
  color: #e4003a;
  max-height: 100px;
  font-size: 33px;
  padding: 15px 0 15px 0;
  border-top: 2px solid #b2b2b1;
  position: relative;
  cursor: pointer;
  transition: max-height 0.15s ease-out; }

.dropdown-title.active {
  max-height: 500px;
  transition: max-height 0.25s ease-in; }

.dropdown-title:after {
  content: '>';
  float: right;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.dropdown-title.active:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg); }

.dropdown-content {
  display: none;
  font-size: 20px;
  font-family: delicious;
  color: #4c4c4c;
  width: 540px;
  padding-bottom: 30px; }

iframe {
  padding-top: 50px; }

.footer {
  width: 100%;
  height: 100%;
  background-color: #999999; }
  .footer .footertitle {
    font-family: delicious;
    font-weight: bold;
    color: #4c4c4c; }
  .footer .footertext {
    font-family: delicious;
    color: #4c4c4c; }
