
.imagecontainer {
  position: relative;

  .imagetext {
    position: absolute;
    float:left;
    font-family: $title-text;
    font-size: 42px;
    width:445px;
    height:220px;
    padding-top:54px;
    padding-left:44px;
    color: #404040;
  }
}

.submenu {
  position: absolute;
  float:left;
  width:900px;
  height:auto;
  background-color:$title-red;
  margin-top:440px;
  border: solid white 16px;
  border-left:none;

  .firstitem, .seconditem, .thirditem {
    float:left;
    max-width:245px;
    padding:16px;
  }
  .submenutext {
    font-size:16px;
  }
  .submenutitle, .subtext, .readmore {
    font-family: $flat-text;
  }
  .submenutitle, .readmore {
    color:$submenu-yellow;
  }
  .submenutitle{
    font-weight:bold;
    padding-bottom:20px;
  }
  .subtitle, .subtext {
    color: $white;
  }
  .subtitle {
    font-family: $title-text;
    font-size: 18px;
  padding-bottom:20px;
}
}

.mainimage {
  width: 100%;
  height: 651px;
}

.waarom, .woord, .opdrachten, .company{
  font-family: $title-text;
  color: $subtitle-gray;
  font-size:32px;
}

.waarom {
  position: relative;
  border-bottom:2px solid $subtitle-gray;
  padding-top:90px;
  padding-bottom:20px;

}

.woord {
  border-top: 2px solid $subtitle-gray;
  padding-top:50px;
  padding-bottom:20px;
}

.opdrachten {
  padding-top: 20px;
  padding-bottom: 50px;
}

.company {
  padding-top:50px;
  padding-bottom:10px;
  border-top: 2px solid $subtitle-gray;
}

.list1, .list3{
  list-style-type: none;
  text-decoration: none;
  overflow: hidden;
  font-family: $title-text;
  color: $title-red;
  font-size: 20px;

  :last-child {
    border-bottom: none;
  }
}

.list1, .list2, .list3 {
  float:left;
  margin-left:-40px;
  padding-right:40px;
  width:400px;
}

.item, .item1, .item2, .item3 {
  padding-top:10px;
  padding-bottom:10px;
  border-bottom: 1px solid $subtitle-gray;


}

.items {
  width:100%;
}


.wrapperpanel {
  position: relative;
}

.woman1 {
  width:66%;
  height:500px;
  float:left;
}

.panel {
  width:34%;
  height:500px;
  background-color:$panel-gray;
  float:left;


  .paneltitle {
    padding-left:60px;
    padding-top:60px;
    font-family: $title-text;
    font-size:44px;
    width:300px;
  }

  .paneltext {
    padding-left:60px;
    padding-top:60px;
    font-family: $flat-text;
    font-size:20px;
    width:250px;
  }
}


.panelleft {
  width:34%;
  height:500px;
  background-color:$title-red;
  float:left;

  .paneltitleleft {
    padding-left:10%;
    padding-top:10%;
    color: $white;
    font-family: $title-text;
    font-size:44px;
    width:300px;
  }

  .paneltextleft {
    padding-left:10%;
    padding-top:10%;
    color: $white;
    font-family: $flat-text;
    font-size:20px;
    width:250px;
  }
}

.dropdown-title {
  font-family: $title-text;
  color:$title-red;
  font-size: 33px;
  padding: 15px 0 15px 0;
  border-top: 2px solid $subtitle-gray;
  position: relative;
  cursor: pointer;


}

.dropdown-title:after {
  content: '>';
  float:right;
  -webkit-transition: all 0.2s ease-in-out;
}

.dropdown-title.active:after {
  -webkit-transform: rotate(90deg);
}

.dropdown-content {
  font-size: 20px;
  font-family: $flat-text;
  color: $medium-gray;
  width:540px;
  padding-bottom:30px;
}

.dropdown-image {
  float:right;
  width:50px;
  height:50px;
}

iframe {
  padding-top:50px;
}