.menucontainer {
  margin-bottom:35px;
  float:right;
  list-style-type: none;
  overflow: hidden;
  font-family: $flat-text;
  font-size:18px;

  li {
    display: inline-block;

  }

  a {
    padding:12px;
    text-decoration: none;
    color: $medium-gray;
  }

  :last-child {
    padding-right:0px;
  }

}

.logo {
  display: inline-block;


  a {
    text-decoration: none;
    color:inherit;

  }

  .mainlogo {
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    float:left;
    font-family: $title-text;
    font-size:27px;
    color: $title-red;
  }

  .sublogo {
    display: block;
    font-family: $flat-text;
    color: $sublogo-black;

  }
}

